{% include "header.twig" %}
{% include "left-pane.twig" %}
<div class="home col-sm-10">
	<div class="container-fluid p-4">
		<div class="col-sm-12">
			<div class="text-white">
				<h4>
					ÖNERİLER
				</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-2 col-md-6 col-sm-6">
				<a href="" class="text-white ">
					<div class="book-card-col text-center ">
						<div class="book-card">
							<img src="../view/images/kitap1.jpg" class="" width="40%" alt="">
							<h6>
								SUÇ VE CEZA
							</h6>
							<p>
								DOSTOYEVSKİ
							</p>
						</div>
					</div>
				</a>
			</div>
			<div class="col-lg-2 col-md-6 col-sm-6">
				<a href="" class="text-white ">
					<div class="book-card-col text-center">
						<div class="book-card">
							<img src="../view/images/kitap1.jpg" class="" width="40%" alt="">
							<h6>
								SUÇ VE CEZA
							</h6>
							<p>
								DOSTOYEVSKİ
							</p>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="col-md-12">
			<div class="text-white">
				<h4>
					YENİ EKLENENLER
				</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-2 col-md-6 col-sm-6">
				<a href="" class="text-white ">
					<div class="book-card-col text-center ">

						<div class="book-card">
							<img src="../view/images/kitap1.jpg" class="" width="40%" alt="">
							<h6>
								SUÇ VE CEZA
							</h6>
							<p>
								DOSTOYEVSKİ
							</p>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>
</div>
</div>
{% include "footer.twig" %}